* { box-sizing: border-box; }
body {
	font-family: Verdana, sans-serif;
	font-size: 20px;
	background: midnightblue;
	color: pink;
	
	background: linear-gradient( 
		rgba(25, 25, 112, 0.95), 
		rgba(25, 25, 112, 0.95) ), 
	url(noise.png);
	background-size: 40%;
}

button, textarea {
	font: inherit;
}

button {
	background: white;
	border: 2px solid pink;
	color: pink;
	border-radius: 5px;
	cursor: pointer;
	transition: background 200ms ease-in;
	padding: 3px 6px;
}

button:active, button:hover, button:focus, button.active {
	outline: 0;
	background: pink;
	/*color: white;*/
}

button + span {
	color: gray;
}

#container {
	width: 400px;
	margin: 0 auto;
}

#type-area {
	position: relative;
	height: 420px;
}

textarea {
	background: transparent;
	padding: 0.5em;
	position: absolute;
	width: 400px;
	height: 400px;
	resize: none;
	left: auto;
	right: auto;

	border: 3px solid purple;
	border-radius: 10px;
	box-shadow: 0 0 0 2px pink;
}

#computer {
	background: linear-gradient( 
		rgba(255, 255, 255, 0.75), 
		rgba(255, 255, 255, 0.75) ), 
		url(circles.png);
	background-size: 100%;
	color: gray;
}

textarea:focus {
	outline: 0;
}

#tab-btn, #swipe-right {
	opacity: 0;
	transition: opacity 100ms ease-in;
}

#swipe-right {
	display: none;
	margin-bottom: 1em;
	font-size: 16px;
}

@media (max-width: 375px) {
	#container {
		width: 100%;
		margin: 0 auto;
	}

	#type-area {
		position: relative;
		height: 400px;
	}

	textarea {
		background: transparent;
		padding: 0.5em;
		position: absolute;
		width: 100%;
		height: 300px;
		resize: none;
		left: auto;
		right: auto;

		border: 3px solid pink;
		border-radius: 10px;
	}
}